<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/damco-web-mobile-api">
        <classes><class name="org.tests.web.FlightPriceTest">
            <methods><include name="flightTest"/>
            </methods>
        </class>
            <class name="org.tests.api.AddUser"/>
            <class name="org.tests.api.GetUsers"></class>
            <class name="org.tests.api.DeleteUser"></class>
            <class name="org.tests.mobile.MobileTest"></class>
        </classes>
    </test>
</suite>